
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: #F8F7F0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; 
}
.invalid {
  border-color: red;
  background-color: #ffe6e6;
}

.outer-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 800px;
  height: 600px;
  box-shadow: 0px 10px 20px #0000001A;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-heading {
  position: absolute;
  top: 80px;
  left: 80px;
  text-align: left;
  font-weight: 500;
  font-size: 52px; 
  color: #005095;
}

.circle-container {
  position: relative;
  margin-top: 100px;
  width: 215px;
  height: 215px;
  margin: 10 auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.fill-none {
  fill: none;
}
.stroke-default {
  stroke: #f8f7f0;
}
.stroke-blue {
  stroke: #005095;
}
.transition-all {
  transition: stroke-dashoffset 0.1s linear;
}

.background {
  stroke: #F8F7F0;
}

input.timer-input {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #005095;
  border-radius: 6px;
  outline: none;
  background-color: #FFFFFF;
  color: #005095;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  top: 52%;
}

input.timer-input:focus {
  border-color: #005095;
}

input.timer-input[disabled] {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}

input.timer-input::-webkit-outer-spin-button,
input.timer-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input.timer-input[type="number"] {
  -moz-appearance: textfield;
} 

.start-pause-image {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.reset {
  color: #AEBE38;
  cursor: pointer;
  font-size: 16px;
}

.backgroundpicture {
  position: absolute;
  top: -650px;
  left: 55%;
  width: 1494px;
  height: 1645px;
  z-index: -1;
  background-image: url('./assets/kylee-alons-suQ-D-9dmVU-unsplash.png');
  background-size: cover;
  background-position: center;
}

.completed {
  animation: fadeColor 1.2s ease-in-out forwards;
}

@keyframes fadeColor {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}